<div class="root">
  <div class="left">
    <form class="form">
      <mat-form-field
        class="form-field"
        appearance="outline"
        [hintLabel]="carMaxLengthText"
      >
        <mat-label>Car Name</mat-label>
        <input
          matInput
          placeholder="Enter full car name"
          [formControl]="car"
          [maxlength]="carMaxLength"
          [matAutocomplete]="carAutoComplete"
        >
        <mat-autocomplete #carAutoComplete="matAutocomplete">
          <mat-option
            *ngFor="let filteredCar of getFilteredCarsData()"
            [value]="filteredCar.brand"
          >
            {{ filteredCar.brand }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">{{ car.value?.length || 0 }}/{{ carMaxLength }}</mat-hint>
        <mat-error *ngIf="car.invalid">{{ carValidationMessage() }}</mat-error>
      </mat-form-field>

      <h1></h1>

      <mat-form-field
        class="form-field"
        appearance="outline"
      >
        <mat-label>Part Name</mat-label>
        <mat-chip-list #partChips>
          <mat-chip
            *ngFor="let selectedPart of selectedParts; let index = index"
            (removed)="removeSelectedPart(index)"
          >
            {{ selectedPart['List of auto parts'] }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            matInput
            #partInput
            placeholder="Search by part name"
            [formControl]="part"
            [matAutocomplete]="partAutoComplete"
            [matChipInputFor]="partChips"
            [matChipInputSeparatorKeyCodes]="[]"
          >
        </mat-chip-list>
        <mat-autocomplete
          #partAutoComplete="matAutocomplete"
          (optionSelected)="addSelectedPart($event)"  
        >
          <mat-option
            *ngFor="let filteredPart of getFilteredPartsData()"
            [value]="filteredPart['List of auto parts']"
          >
            {{ filteredPart['List of auto parts'] }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="color">
        <color-sketch
          [color]="color.value"
          (onChangeComplete)="colorChange($event)"
        ></color-sketch>
      </div>
      <mat-form-field
        class="form-field"
        appearance="outline"
        [hintLabel]="colorHexText"
      >
        <mat-label>Color</mat-label>
        <span matPrefix># &nbsp;</span>
        <input
          matInput
          placeholder="Enter hex color"
          [formControl]="color"
          [maxlength]="colorMaxLength"
        >
        <mat-error *ngIf="color.invalid">{{ colorValidationMessage() }}</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div class="right">
    <div>
      <mat-card-title class="subtitle">Car</mat-card-title>
      <div></div>
      <mat-card-subtitle *ngIf="!car.invalid">{{ car.value }}</mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>

    <h1></h1>

    <div>
      <mat-card-title class="subtitle">Parts</mat-card-title>
      <div></div>
      <mat-card-subtitle *ngFor="let selectedPart of selectedParts; let index = index">
        <h1></h1>
        {{ index + 1 + '. ' + selectedPart['List of auto parts'] }}
      </mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>

    <h1></h1>

    <div>
      <mat-card-title class="subtitle">Color</mat-card-title>
      <div></div>
      <mat-card-subtitle
        *ngIf="!color.invalid"
        [style.color]="'#' + color.value"  
      >#{{ color.value }}</mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>

    <h1></h1>
  </div>
</div>